<div class= "row">
    <div class = "col-md-6 col-md-offset-3 text-center">
      <% if params[:plan] == '2' %>
        <h1>Consultants</h1>
        <h4>Keep people pretty. Be strong and independent!</h4>
      <% elsif params[:plan] == '3' %>
        <h1>Fountains</h1>
        <h4>Provide opprtunity and reap abundance!</h4>
      <%else %>
        <h1>PrettyGirls</h1>
        <h4>Keep it pretty with us!</h4>
      <%end%>
    </div>
  <div class = "col-md-6 col-md-offset-3">
    <div class = "well">
      <h2>Sign up</h2>
      
      <% if params[:plan] == '2' %>
      <%= render "pro_form" %>
      
      <% elsif params[:plan] == '3' %>
      <%= render "fountain_form" %>
      
      <%else%>
      <%= render "basic_form" %>
      <%end%>
      
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>