<div class="jumbotron text-center">
    <h1>You're so Pretty!!</h1>
    <h3> Bring out the best in you with our prettyGirl makeover!</h3>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <div class="item active">
      <img src="https://drive.google.com/thumbnail?id=0BxG_mwA8nDPPcFBlOEpvRnByaUk&authuser=0&v=1450103428614&sz=w220-h165-p-k-nu" alt="PrettyGirls">
      <div class="carousel-caption">
        <h4><%= link_to "PrettyGirl Sign Up", new_user_registration_path(plan: @basic_plan.id) %> </h4>
        <p>Sign up free to receive the best beauty services!</p>
      </div>
    </div> <!-- Item Ends-->
    
    
    <div class="item">
      <img src="https://drive.google.com/thumbnail?id=0BxG_mwA8nDPPRFJmY05wZ0dseFE&authuser=0&v=1450104166023&sz=w220-h165-p-k-nu" alt="Consultants">
      <div class="carousel-caption">
        <h4><%= link_to "Consultant Sign Up", new_user_registration_path(plan: @pro_plan.id) %> </h4>
        <p>Start your business for a minimum monthly payment!</p>
      </div>
    </div> <!-- Item Ends-->
    
    <div class="item">
      <img src="https://drive.google.com/thumbnail?id=0BxG_mwA8nDPPOUJPbU1leERHQU0&authuser=0&v=1450105384499&sz=w220-h165-p-k-nu" alt="Fountains">
      
        <div class="carousel-caption">
        <h4 ><%= link_to "Fountain Sign Up", new_user_registration_path(plan: @fountain_plan.id) %> </h4>
        <p>Sign up free to provide an environment of beauty and health</p>
        </div>
      
    </div> <!-- Item Ends-->
    ...
  </div> <!-- Carousel inner div -->
  
  <ul class = "list-group slider-list  col-md-4">
      <li data-target= "#myCarousel" data-slide-to= "0" class= "list-group-item active">
          <img src="https://drive.google.com/thumbnail?id=0BxG_mwA8nDPPcFBlOEpvRnByaUk&authuser=0&v=1450103428614&sz=w220-h165-p-k-nu" class= "img-thumbnail img-slide"><h4>PrettyGirl Sign Up</h4>
          <p>Come relax and get your pretty on</p>
      </li>
      
      <li data-target= "#myCarousel" data-slide-to= "1" class= "list-group-item">
          <img src= "https://drive.google.com/thumbnail?id=0BxG_mwA8nDPPRFJmY05wZ0dseFE&authuser=0&v=1450104166023&sz=w220-h165-p-k-nu" class= "img-thumbnail img-slide"><h4>Consultants Sign Up</h4>
          <p>Keep your friends and neighbors pretty!!</p>
      </li>
      
      <li data-target= "#myCarousel" data-slide-to= "2" class= "list-group-item">
          <img src= "https://drive.google.com/thumbnail?id=0BxG_mwA8nDPPOUJPbU1leERHQU0&authuser=0&v=1450105384499&sz=w220-h165-p-k-nu" class= "img-thumbnail img-slide"><h4>fountain Sign Up</h4>
          <p>Spread beauty and health in the world</p>
      </li>
  </ul>

 
</div>







