<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <p><%=  "#{ @name }, #{ @email }" %> has invited you to pamper yourself at our expense. </p>
        <p><%= @body %></p>
    </body>
</html>